### Now that we have done our Topic Modeling, we will need to do some sentitmental Analysis for each of the text. So we can determine if there are difference of sentiment that each outlet has for the topics we found in our LDA anlaysis.

In [1]:
#Plugins we need

import pandas as pd
import numpy as np

# For our sentiment analysis
from textblob import TextBlob

In [2]:
df = pd.read_csv('data/sentiment_ready.csv')
df = df.drop(labels = ['Unnamed: 0' ,'Perc_Contribution'], axis = 1)

In [3]:
df.groupby('Topic').count()

       Topic_Keywords  Text  Source
Topic
1                 244   244     244
2                 831   831     831
3                   2     2       2
4                 110   110     110
5                 188   188     188
6                  37    37      37
7                  35    35      35
8                  42    42      42
9                  19    19      19
10                180   180     180
11                320   320     320
12                507   507     507
13                 27    27      27
14                 19    19      19
15                190   190     190
16                319   319     319
17                291   291     291
18                 31    31      31
19                434   434     434
20                 46    46      46
21                174   174     174
22                 59    59      59

In [4]:
df.head()

,Topic,Topic_Keywords,Text,Source
0,10,"china, chinese, military, iran, world, u.s., s...","Ebrahim Hamid, AFP | African Union's envoy to ...",France24
1,1,"u.s., mexico, trump, said, tariff, american, w...","Jorge Duenes, Reuters | ¬ Trucks wait in queue...",France24
2,12,"trump, president, said, official, n’t, would, ...","Luisa Gonzalez, REUTERS | A Colombian army mem...",France24
3,20,"queen, club, white, sherpa, virginia_beach, pe...",Real Madrid ended their long pursuit of Eden H...,France24
4,21,"said, health, study, research, food, fda, scie...","Ted Alijibe, AFP | Volunteers remove rubbish w...",France24

In [44]:
sentiment_score_list = [round(TextBlob(article).sentiment.polarity, 3) for article in df['Text']]

sentiment_subjectivity_list = [round(TextBlob(article).sentiment.subjectivity, 3) for article in df['Text']]

In [46]:
df_ss = pd.DataFrame([list(df['Topic']), sentiment_score_list]).T
df_ss.columns= ['Topic','Sentiment Score']
#df_ss['Text'] = df['Text']
df_ss['Source'] = df['Source']
df_ss['Keywords'] = df['Topic_Keywords']
len(df_ss)


df_subjectivity = pd.DataFrame([list(df['Topic']), sentiment_subjectivity_list]).T
df_subjectivity.columns = ['Topic', 'Subjectivity Score']

In [42]:
df_ss.head()

,Topic,Sentiment Score,Source,Keywords
0,10.0,0.009,France24,"china, chinese, military, iran, world, u.s., s..."
1,1.0,0.077,France24,"u.s., mexico, trump, said, tariff, american, w..."
2,12.0,0.057,France24,"trump, president, said, official, n’t, would, ..."
3,20.0,0.055,France24,"queen, club, white, sherpa, virginia_beach, pe..."
4,21.0,0.079,France24,"said, health, study, research, food, fda, scie..."

In [48]:
df_subjectivity.head()
df_ss['Subjectivity Score'] = df_subjectivity['Subjectivity Score']

In [50]:
df_ss.to_csv('tableau_ready.csv')